*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #135677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 0;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("https://cdn3.iconfinder.com/data/icons/pixel-perfect-outlines/100/circle-512.png");
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("https://th.bing.com/th/id/R.200a1334dca464e862288c3a39c8b74f?rik=GDWLPeflZIFk%2fw&riu=http%3a%2f%2fwww.clker.com%2fcliparts%2fw%2fy%2fG%2ff%2fC%2fW%2fcircle-check-red.svg.hi.png&ehk=stMmPbfvA4EqI72l1tP4%2bUeM9r8MX73bMYaVf6i0M0Y%3d&risl=&pid=ImgRaw&r=0");
}
ul li span{
    position: absolute;
    right: 0;
    top: 7px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}